* {
  margin: 0;
  padding: 0;
}
ul {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #d6b0b1;
}
ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}
ul li i {
  font-size: 25px;
  color: #433520;
}
ul li a {
  text-decoration: none;
  color: #433520;
  font-size: 15px;
}
.result {
  height: 180px;
}
.keyboard button {
  width: 110px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  border: none;
  background-color: #e8efeb;
  margin-bottom: 4px;
  margin-left: 2px;
  color: #00917c;
  border-radius: 2px;
}
.keyboard .call-button {
  background-color: #50c878;
  border-radius: 80px;
  color: white;
}

#contact-section {
  display: none;
  border: 1px solid #50c878;
  margin: 10px 15px;
  padding: 20px;
}

.title {
  font-size: 20px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contact-inp {
  padding: 8px 15px;
  width: 200px;
}
.btn-ajout {
  font-size: 10px;
}
.inp-btn {
  display: flex;
  text-align: center;
}

.record {
  display: flex;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: flex-start;
}
.record-date {
  color: #50c878;
}
.call-delete-add {
  display: flex;
  align-items: center;
}
.keyboard .button-aj {
  font-size: 14px;
}
.record-date {
  margin-right: 10px;
}
